language: android
dist: trusty
android:
  components:
    - build-tools-29.0.2
    - android-29
    - add-on
    - extra
  licenses:
    - 'android-sdk-preview-license-52d11cd2'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

before_script:
  - which base64
  - man base64
  - echo `$__google_services_json` | base64 -D > ./app/google-services.json
  - cat ./app/google-services.json

script:
  - ./gradlew lintRelease testReleaseUnitTest
